/* .about_container{
    width: 100%;
    height: 100vh;
    background-color: #0b3930;
    background-color: red;
} */


.about_container{
    width: 100%;
    height: 100vh;
    background-color: #0b3930;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.about_text h1{
    font-size: 50px;
    font-family: "Protest Strike", sans-serif;
    font-weight: 200;
    color: #f46045;
}

.about_text p{
    font-family: "Belanosima", sans-serif;
    font-size: 35px;
    margin-top: 70px;
    color: #ebbc6b;
}